#tituloReg{
    background:   #e74c3c;
    color: white;
    align-items: center;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
}

#fondoFormulario{
    background-color: #21618c;
    color: white;
    border-radius: 1%;
    font-weight: bold;
}

body{
    background-color:  #eaeded;
}